<div data-component="header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <mat-toolbar>
          <span>
            <a routerLink="/list/books">
              <img src="../../../assets/img/logo.png" alt="Logo">
            </a>
          </span>
          <!-- <div class="d-flex right ">

            <div class="account d-flex">
              <img src="../../../assets/img/account_circle-24px.svg" alt="account">
              <div class="d-flex flex-column">
                <span>Welcome</span>
                <span class="name">Laerte</span>
              </div>
            </div>

            <div class="cart">
              <img src="../../../assets/img/shopping_cart-24px.svg" alt="shopping_cart">
            </div>

            <div class="d-flex align-items-center logout">
              <b (click)="logout()">Exit</b>
            </div>
          </div> -->
        </mat-toolbar>
      </div>
    </div>
  </div>
</div>
