@import 'base/imports';

[data-component="input"] {
  width: 100%;

  .mat-form-field {
    width: 100%;
  }
  &.white {
    width: 100%;

    .mat-form-field-wrapper {
      .mat-form-field-flex,
      .mat-form-field-flex &:hover {
        border-bottom: 2px solid $white;

        input {
          color: $white;
        }
        .mat-form-field-suffix {
          button {
            .mat-icon {
              color: $white;
            }
          }
        }

        .mat-form-field-label{
          color: $white;
        }
      }
    }

  }
}
