<div data-component="books">
  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Find yourself in a great book</h1>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <app-search
              [control]="form.get('search')"
              >
            </app-search>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="card-block">
    <button class="btn btn-social-icon btn-google mx-1" (click)="signInWithGoogle()">Login</button>
    <button (click)="favorite()">Favorite</button>
    <button (click)="authBook()">Auth Book</button>
  </div> -->
  <div *ngIf="books && books.books.length > 0" class="container">
    <div class="row">
      <div *ngFor="let book of books.books" class="col-12 col-sm-4 col-lg-3">
        <app-book-card [book]="book"></app-book-card>
      </div>
    </div>
  </div>
  <div *ngIf="books && books.books.length > 0" class="d-flex w-100 justify-content-center">
    <mat-paginator
      [length]="books.total"
      [pageSize]="10"
      (page) = "goToPage($event)">
    </mat-paginator>
  </div>
</div>
